body {
	font-size: 16px;
	margin: 0;
	overflow-y: scroll;
}

#aroundTopRightLinks {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	height: auto;
	z-index: 100;
	text-align: right;
}

#invertColors {
	padding-right: 10px;
	cursor: pointer;
	text-decoration: underline;
}

#resume {
	margin: auto;
	width: fit-content;
}

.backgroundColorBlack {
	background-color: black;
}

.colorWhite {
	color: white;
}

.fa {
	background-color: white;
	color: black;
}

.filterInvert100Percent {
	filter: invert(100%);
}

.sectionHeader {
	cursor: pointer;
}

.textAlignCenter {
	text-align: center;
}