body {
    color: #00ff00;
    background-color: #000000;

    font-family: Consolas, monaco, monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: normal;
}

.color-black {
    color: #000000 !important;
}

.color-green {
    color: #00ff00 !important;
}

.sidebar {
    position: fixed;
    right: 0;
    border-left: 1px solid #00ff00;
    height: 100%;
}

.margin-top-10px {
    margin-top: 10px;
}

/*
    Colors - solarized dark

    Background
    0 - #002b36
    1 - #dc322f
    2 - #859900
    3 - #b58900
    4 - #268bd2
    5 - #6c71c4
    6 - #2aa198
    7 - ##93a1a1

    Foreground
    0 - #657b83
    1 - #dc322f
    2 - #859900
    3 - #b58900
    4 - #268bd2
    5 - #6c71c4
    6 - #2aa198
    7 - #fdf6e3
*/
