body {
    color: #00ff00;
    background-color: #000000;

    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: normal;
}

.color-black {
    color: #000000 !important;
}

.color-green {
    color: #00ff00 !important;
}
